@import url("https://rsms.me/inter/inter.css");

html,
body {
    width: 100%;
    height: 100%;
    font-family:  -apple-system,Inter, sans-serif;
    font: 13px/1.5 Inter;
    color: #595959;    
}

a {

    color: rgba(10, 132, 255, 1);
    cursor: e-resize;
    text-decoration: none;
}

header {
    width:100%;
    height: 50px;
    margin-bottom: 5px;
    display: flex;
    direction: row;
    align-items: center;
    background: #fff;
    padding: 2px;
    border-bottom: 1px #432 solid;
}

header img{
    padding-top: 20px;
    width: 35px;
    height: 35px;
}

header a {
    color: #595959;    
    display: flex;
    direction: row;
    padding-left: 10px;
    cursor: pointer;
}

header h1{
    margin-left: 20px;
}

header span{
    color: #a11;
}


header small{
    margin-left: 12px;
    padding-top: 35px;
}


.container{
    width:100%;
    height: 100%;
    border: #823 solid;

    display: flex;
    direction: row;
}

.page{
    width:640px;
    min-width: 640px;
    max-width: 640px;
    border: #883 solid;
    height: 100%;
}

