/******************************/
/* org 요소들 */
/******************************/
/* h1{ */
/*   text-decoration: green wavy underline  2px;     */
/* } */
/* h2,h3{ */
/*   text-decoration: cyan dotted underline  2px;         */
/* } */
.underline {
  text-decoration: solid underline purple 2px;
}

/* code{ */
/*     font-family: monospace; */
/*     background: rgba(128, 139, 93, .25); */
/*     color: rgba(0, 0, 0, 0.75); */
/*     padding: 1px 3px; */
/*     font-size: 1.2em; */
/* } */
#head1{
    text-decoration: underline wavy red;    
}
#head2{
    text-decoration: underline dotted red;    
}
#head3{
    
}

#priority-a::before {
  content: "A";
  width: 80px;
  height: 30px;
  margin-right: 10px;
  border-radius: 20%;
  
  background-color: red;
  color: #fff;
  font-weight: bold;
}
#priority-b::before {
  content: "B";
  width: 80px;
  height: 30px;
  margin-right: 10px;
  border-radius: 20%;
  
  background-color: green;
  color: #fff;
  font-weight: bold;
}
#priority-c::before {
  content: "C";
  width: 80px;
  height: 30px;
  margin-right: 10px;
  border-radius: 20%;
  
  background-color: blueviolet;
  color: #fff;
  font-weight: bold;
}

.org-todo.todo{
    padding: 0px 4px;
    margin-left: 15px;
    color: #fff;
    border-radius: 10%;
    margin-right: 15px;
    text-decoration: none;
}
.org-todo.todo.TODO {
    background-color: red;
}
.org-todo.todo.REVIEW {
    background-color: orange;
}
.org-todo.todo.BLOCKED {
    background-color: green;
}
.org-todo.todo.DOING {
    background-color: purple;
}
.org-todo.done.DONE {
    background-color: blue;
    padding: 0px 4px;
    color: #fff;
    border-radius: 10%;
    margin-left: 15px;
    margin-right: 15px;
}

/* note */
div.note
{
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     /* background-color: #f0f7fb; */
     background-color: #FFFFFE;
     /* border: solid 1px #3498db; */
     border: solid 1px #B2BEB5;
     border-radius: 6px;
     line-height: 18px;
     /* mc-auto-number-format: '{b}Note: {/b}'; */
     overflow: hidden;
     padding: 12px;
     opacity: 0.8;     
}
 
.note:before {
  content: "Note!";
  display: block;
  font-weight: bold;
  color: red;
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
  padding: 10px;
}
.note p{
    line-height: 28px;
}
/* tip */
div.tip
{
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     /* background-color: #f0f7fb; */
     background-color: #FFFFFE;
     /* border: solid 1px #3498db; */
     border: solid 1px #B2BEB5;
     border-radius: 6px;
     line-height: 18px;
     /* mc-auto-number-format: '{b}Note: {/b}'; */
     overflow: hidden;
     padding: 12px;
     opacity: 0.8;     
}
 
.tip:before {
  content: "Tip!";
  display: block;
  font-weight: bold;
  color: orange;
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
  padding: 10px;
}
.tip p{
    line-height: 28px;
}
/* important */
div.important
{
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     /* background-color: #f0f7fb; */
     background-color: #FFFFFE;
     /* border: solid 1px #3498db; */
     border: solid 1px #B2BEB5;
     border-radius: 6px;
     line-height: 18px;
     /* mc-auto-number-format: '{b}Note: {/b}'; */
     overflow: hidden;
     padding: 12px;
     opacity: 0.8;     
}
 
.important:before {
  content: "Important!";
  display: block;
  font-weight: bold;
  color: green;
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
  padding: 10px;
}
.important p{
    line-height: 28px;
}
/* warning*/
div.warning
{
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     /* background-color: #f0f7fb; */
     background-color: #FFFFFE;
     /* border: solid 1px #3498db; */
     border: solid 1px #B2BEB5;
     border-radius: 6px;
     line-height: 18px;
     /* mc-auto-number-format: '{b}Note: {/b}'; */
     overflow: hidden;
     padding: 12px;
     opacity: 0.8;     
}
 
.warning:before {
  content: "Warning!";
  display: block;
  font-weight: bold;
  color: purple;
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
  padding: 10px;
}
.warning p{
    line-height: 28px;
}

/* attention */
div.attention
{
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     /* background-color: #f0f7fb; */
     background-color: #FFFFFE;
     /* border: solid 1px #3498db; */
     border: solid 1px #B2BEB5;
     border-radius: 6px;
     line-height: 18px;
     /* mc-auto-number-format: '{b}Note: {/b}'; */
     overflow: hidden;
     padding: 12px;
     opacity: 0.8;     
}
 
.attention:before {
  content: "Attention!";
  display: block;
  font-weight: bold;
  color: blue;
  background-color: #ffdddd;
  border-left: 6px solid orange;
  padding: 10px;
}

.attention p{
    line-height: 28px;
}
/* example*/
div.example
{
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     /* background-color: #f0f7fb; */
     background-color: #FFFFFE;
     /* border: solid 1px #3498db; */
     border: solid 1px #B2BEB5;
     border-radius: 6px;
     line-height: 18px;
     /* mc-auto-number-format: '{b}Note: {/b}'; */
     overflow: hidden;
     padding: 12px;
     opacity: 0.8;     
}
 
.example:before {
  content: "Example!";
  display: block;
  font-weight: bold;
  color: red;
  background-color: #ffdddd;
  border-left: 6px solid orange;
  padding: 10px;
}
.example p{
    line-height: 28px;
}
/* verse */
div.verse
{
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     /* background-color: #f0f7fb; */
     background-color: #FFFFFE;
     /* border: solid 1px #3498db; */
     border: solid 1px #B2BEB5;
     border-radius: 6px;
     line-height: 18px;
     /* mc-auto-number-format: '{b}Note: {/b}'; */
     overflow: hidden;
     padding: 12px;
     opacity: 0.8;     
}
 
.verse:before {
  content: "Verse!";
  display: block;
  font-weight: bold;
  color: orange;
  background-color: #ffdddd;
  border-left: 6px solid orange;
  padding: 10px;
}
.verse p{
    line-height: 28px;
}
/* @mixin alert($name,$bgColor){ */
/*  $accentColor:darken($bgColor,50); */
/*  .#{$name}{ */
/*     background-color:#{$bgColor}; */
/*     border-left:5px solid $accentColor; */
/*    } */
/* } */
/* @include alert(note,#ebebeb); */
/* @include alert(tip,#a8f0c6); */



/* #priority-a { */
/*   display: flex; */
/*   align-items: center; */
/* } */

/* #priority-a::before { */
/*   content: "A"; */
/*   width: 30px; */
/*   height: 30px; */
/*   border-radius: 50%; */
/*   background-color: #12b58d; */
/*   color: #fff; */
/*   font-size: 16px; */
/*   font-weight: bold; */
/*   text-align: center; */
/*   line-height: 30px; */
/*   margin-right: 10px; */
/* } */
/* #priority-b { */
/*   display: flex; */
/*   align-items: center; */
/* } */

/* #priority-b::before { */
/*   content: "B"; */
/*   width: 30px; */
/*   height: 30px; */
/*   border-radius: 50%; */
/*   background-color: #6ab0de; */
/*   color: #fff; */
/*   font-size: 16px; */
/*   font-weight: bold; */
/*   text-align: center; */
/*   line-height: 30px; */
/*   margin-right: 10px; */
/* } */

/* #priority-c { */
/*   display: flex; */
/*   align-items: center; */
/* } */

/* #priority-c::before { */
/*   content: "C"; */
/*   width: 30px; */
/*   height: 30px; */
/*   border-radius: 50%; */
/*   background-color: #f29f97; */
/*   color: #fff; */
/*   font-size: 16px; */
/*   font-weight: bold; */
/*   text-align: center; */
/*   line-height: 30px; */
/*   margin-right: 10px; */
/* } */

/* #blue-block{ */
/*     font-family: "Font Awesome"; */
/*     content: "\f005"; /\* 원하는 아이콘 코드 *\/ */
/*     background-color: #5571C0; */
/*     margin: 0; */
/* } */
/* .blueblock p{ */
/*     margin:0; */
/*     background-color: #5591C0; */
/* } */
/* .greenblock{ */
/*     background-color: #A5CF5B; */
/* } */
/* figure{ */
/*     text-align: center; */
/* } */
/* figure figcaption{ */
/*     text-align: center; */
/*     font-style: italic; */
/*     font-size: 0.8em; */
/*     margin-top: 3px; */
/*     margin-bottom: 10px; */
/* } */
